[submodule "pack/plugins/start/colorschemes"]
	path = pack/plugins/start/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
