[submodule "pack/plugins/start/colorschemes"]
	path = pack/plugins/start/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/plugins/start/fugitive"]
	path = pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/sartify"]
	path = pack/plugins/start/sartify
	url = https://github.com/mhinz/vim-startify
[submodule "pack/plugins/start/limelight"]
	path = pack/plugins/start/limelight
	url = https://github.com/junegunn/limelight.vim
[submodule "pack/plugins/start/sparkup"]
	path = pack/plugins/start/sparkup
	url = https://github.com/rstacruz/sparkup
[submodule "pack/plugins/start/youcompleteme"]
	path = pack/plugins/start/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/plugins/start/phpcomplete"]
	path = pack/plugins/start/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/plugins/start/nerdtree-tabs"]
	path = pack/plugins/start/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
